@import "tailwindcss";
@plugin "daisyui";




.carousel.auto-slide {
  animation: autoscroll 2s infinite; 
}

@keyframes autoscroll {
  0%, 22.72% {
    scroll-left: 0;
  }
  
  25%, 45.45% {
    scroll-left: 100%;
  }
  
  50%, 68.18% {
    scroll-left: 200%;
  }
  
  75%, 90.90% {
    scroll-left: 300%;
  }

  100% {
    scroll-left: 0;
  }
}

.carousel.auto-slide:hover {
  /* animation-play-state: paused; */
}